<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>

<h1 class="big-ass-title">CocktailDB</h1>
<p class="marquee">
<span>
Are you looking for a specific drink? Try using the searchbar!
</span>
</p>
<br>

<form>
<div class="sdiv">
<input class="search" type="text" placeholder="Search drink here">
</div>
<input type="submit" value="Search" style="width:0px; height:0px; font-size:0; border: none !important; background: transparent; float:right;"/>
</form>
<div class="navbar">
<a class="nav-link" href="index.html">Home
</a><a class="nav-link" href="one.html">One
</a><a class="nav-link" href="many.html">Many
</a>
</div>



</body>
</html>
