<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


<h1 class="smaller-title">CocktailDB</h1>
<p class="marquee">
<span>
Are you looking for a specific drink? Try using the searchbar!
</span>
</p>
<br>

@using(Html.BeginForm("Cocktails", "Home", FormMethod.Post))
{
<div class="sdiv">
<input class="search" type="text" name="search" id="search" placeholder="Search drink here">
</div>
<input type="submit" value="Search" style="width:0px; height:0px; font-size:0; border: none !important; background: transparent; float:right;"/>
}
<div class="navbar">
<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home
</a><a class="nav-link" asp-area="" asp-controller="Home" asp-action="One">One
</a><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Cocktails">Many
</a>
</div>


@RenderBody()

</body>
</html>
