:root {
    background-color:#000000;
    background-image:url("Darker_Glitch_City.png");
    background-attachment:fixed;
    background-size:120%;
    background-repeat:no-repeat;
    background-position:bottom;

    color:#ffffff;
    font-family: 'VT323';
    font-size:1.4em;
}

@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.ttf');
}

body {
    margin:0px;
}


h1 {
    margin:40px;
    text-align:center;
    text-shadow: 0rem 0.1rem 0rem #ff5c55;
}

h2 {
    color: #ff5c55;
}

ul {
    margin-top:0px;
    margin-bottom:10px;
}

.items {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0 40px;
}

.item {
    margin:20px;
    border:4px solid #00a4a2;
    background-color:#00747255;
    border-radius:12px;
    display:grid;
}

.large-item {
    grid-template-columns: 5% 40% 50%;
    grid-template-areas:
        "n title title"
        "n image description"
        "n instructions instructions";
}

.normal-item {
    grid-template-columns: 5% 40% 50%;
    grid-template-areas:
        "n title title"
        "n image description";
}

.simple-item {
    grid-template-columns: 5% 90%;
    grid-template-areas:
        "n title"
        "n image";
}



.smol {
    width:500px;
}

.not-smol {
    max-width:700px;
    margin: 40px auto;
}

.item:hover {
    background-color:#00000099;
}

.title {
    border-bottom:2px groove #00a4a2;
    padding:0px 30px;
    display:grid;
    grid-area:title;
}

.title > * {
    margin: 16px 0px;
}

.image {
    padding:20px 0px;
    display:grid;
    grid-area:image;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    align-items:center;
}

.description {
    padding:0px 30px;
    display:grid;
    grid-area:description;
}

.instructions {
    border-top:2px groove #00a4a2;
    display:grid;
    grid-area:instructions;
}

.navbar {
    padding:5px 30px;
    max-width:100%;
    display:flex;
    display:block;
    background-color:#94ffff99;
    /*
    background-color:#ffd9ff99;
    */
}

.nav-link {
    margin-left:0px;
    margin-right:0px;
    padding:10px 20px;
    color:#ffffff;
    text-decoration:none;
}


.nav-link:hover {
    background-color:#000000;
}


.sdiv {
    margin: 0px;
    width: 100%;
    display: inline-flex;
}

.search {
    margin: 0px;
    width:100%;
    height:30px;
    color: #ff5c55;
    background-color:#94ffc755;
    border:1px solid #94ffc7;
    max-width:100%;
    /*
    background-color:#ffd9ff55;
    border:1px solid #ffd9ff;
    */
    color:white;

    text-align:center;
    font-size:0.9em;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  width:100%;
}




.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  text-align: center;
}

.marquee2 span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

a.fill-div {
    display: block;
    height: 100%;
    width: 500px;
    text-decoration: none;
}


.big-ass-title {
    margin-top:200px;
    font-size:4em;
}

.smaller-title {
    font-size:3em;
}

.showing-results {
    text-shadow: 0rem 0.1rem 0rem #00a4a2;
}
